body {
    font-family: sans-serif;
    font-size: 14px;
    color: #6C6866;
}

.main-header {
    font-size: 1.8em;
    font-weight: normal;
    padding: 0 19px;
    margin: 5px;
}

.callback-form {
    background-color: #FEEED6;
    overflow: hidden;
    box-sizing: border-box;
    max-width: 738px;
    padding: 14px 19px;
}

.callback-form * {
    display: block;
}

.label {
    margin: 15px 0;
}

.field-header {
    font-weight: bold;
}

.text-field {
    box-sizing: border-box;
    border: none;
    height: 35px;
    padding: 10px 13px;
    width: 100%;
    margin-top: 5px;
}

.comment {
    min-height: 112px;
    resize: vertical;
}

.submit {
    background: #378DB2;
    font-weight: bold;
    color: white;
    border: none;
    padding: 0.5em 0.9em;
    margin-left: auto;
}

.submit:hover {
    background: #32728D;
    cursor: pointer;
}
