body {
    background-color: #FEEED6;
    color: #6C6866;
    font: normal 16px/1.4 sans-serif;
}

.content-pane {
    box-sizing: border-box;
    max-width: 710px;
    margin-left: 10px;
    margin-right: 10px;
}

.content-pane h2 {
    font-size: 1.6em;
    font-weight: normal;
    margin-top: 4px;
    margin-bottom: 12px;
    line-height: 1.2em;
}

.content-pane p {
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 6px;
}

.not-relevant {
    text-decoration-line: line-through;
}

.text {
    font-size: 15px;
    text-indent: 1rem;
    margin-top: 5px;
    margin-bottom: 10px;
}

.feature {
    color: #3792B6;
    font-weight: bold;
    font-size: 1em;
}

.title {
    margin-top: 10px;
    margin-bottom: 0;
}