.table {
    box-sizing: border-box;
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 18px;
}

.table th {
    background: #3498DB;
    color: white;
    font-weight: normal;
    font-size: 19px;
}

.table tr:nth-child(odd) {
    background: #EEEEEE;
}

.table tr {
    height: 45px;
}

.table td, th {
    padding: 10px;
    text-align: left;
    border: #D3D3D3 solid 1px;
}

.first-name {
    width: 132px;
}

.last-name {
    width: 130px;
}

.job-title {
    width: 250px;
}

.twitter {
    width: 154px;
}