body {
  padding-bottom: 3rem;
}

[v-cloak] {
  display: none;
}

div.modal {
  display: flex;
  justify-content: center;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}