<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo list</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="main-container" class="main-container container"
         v-cloak>
        <todo-list></todo-list>
    </div>

    <script id="todo-list-template"
            type="text/x-template">
        <div>
            <div class="top-container text-center sticky-top pb-4">
                <div class="title row justify-content-center">
                    <h1 class="col-12 m-3">TodoList</h1>
                </div>
                <div class="input-panel row justify-content-center">
                    <input ref="input"
                           v-model="inputText"
                           @click="switchAllItemsToLeanMode"
                           @input="hideInputWarning"
                           class="note-input-field col-8"
                           :class="{'is-invalid': isInvalidInput }"/>
                    <button type="button"
                            @click="addItem"
                            class="note-add-button btn btn-dark col-4">Add note</button>
                    <div class="input-field-alert invalid-feedback text-center">
                        Cannot create an empty note!
                    </div>
                </div>
            </div>
            <ul class="list-group">
                <list-item v-for="item in items"
                           :key="item.id"
                           :item="item"
                           @delete-item="deleteItem"
                           @switch-to-extended-mode="switchItemToExtendedMode"
                           @switch-to-editing-mode="switchItemToEditingMode"
                           @switch-to-lean-mode="switchItemToLeanMode"
                           @set-text="setItemText"></list-item>
            </ul>
        </div>
    </script>

    <script id="list-item-template" type="text/x-template">
        <li @click="switchToExtendedMode"
            class="list-item list-group-item row justify-content-center">
            <div v-if="item.isEditing">
                <textarea ref="edit"
                          @click.stop="$event.target.select()"
                          @input="isInvalid = (newText.trim().length === 0)"
                          v-model="newText"
                          class="edit-text-field form-control col-12"
                          :class="{'is-invalid': isInvalid }"></textarea>
                <div class="input-field-alert invalid-feedback text-center">
                    Cannot create an empty note!
                </div>
            </div>
            <div v-else
                 class="note-text-label col-12">
                {{ item.text }}
            </div>
            <div v-if="item.isExtended"
                 class="edit-delete-button-group btn-group mt-2 col-12">
                <button type="button"
                        @click.stop="switchToEditingMode"
                        class="btn btn-dark">Edit</button>
                <button type="button"
                        @click="deleteItem"
                        class="btn btn-danger">Delete</button>
            </div>
            <div v-if="item.isEditing"
                 class="save-cancel-button-group btn-group col-12 mt-2">
                <button type="button"
                        @click.stop="setText"
                        class="btn btn-dark">Save</button>
                <button type="button"
                        @click="cancelEditingMode"
                        class="btn btn-danger">Cancel</button>
            </div>
        </li>
    </script>

    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="script.js"></script>
</body>
</html>